{% extends 'base.html.twig' %}

{% block title %}Pets index{% endblock %}

{% block body %}
    <h1>Список питомцев</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Кличка</th>
                <th>Тип животного</th>
                <th>Пол</th>
                <th>Порода</th>
                <th>Фото</th>
                <th>Возвраст</th>
                <th>Хозяин</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for pet in pets %}
            <tr>
                <td>{{ pet.id }}</td>
                <td>{{ pet.name }}</td>
                <td>{{ pet.petTypeId }}</td>
                <td>{{ pet.gender }}</td>
                <td>{{ pet.breedId }}</td>
                <td>{{ pet.image }}</td>
                <td>{{ pet.age }}</td>
                <td>{{ pet.clientId }}</td>
                <td>
                    <a href="{{ path('pets_show', {'id': pet.id}) }}">show</a>
                    <a href="{{ path('pets_edit', {'id': pet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pets_new') }}">Добавить питомца</a>
{% endblock %}
